$bg-dark-1: #111;
$bg-dark-2: #191c21;
$bg-dark-3: rgba(0, 0, 0, 0.9);
$bg-dark-0: $gray-700;

.bg-dark-0 {
  background: $bg-dark-0;
}

.bg-dark-1 {
  background: $bg-dark-1;
}

.bg-dark-2 {
  background: $bg-dark-2;
}

.bg-dark-3 {
  background: $bg-dark-3;
}

body {
  background: $bg-dark-1 !important;
  color: white !important;
}

header {
  // background: $bg-dark-3 !important;
  background: #191c21 !important;
}

// accordion
.card {
  background: $bg-dark-2;

  .nav-bar {
    background: $bg-dark-2 !important;

    .nav-tabs {
      border-image-source: linear-gradient(45deg, rgb(12, 12, 12), rgb(25, 33, 33)) !important;

      .nav-item {
        background: $bg-dark-2 !important;
        border-radius: 8px;

        .active {
          background-color: $bg-dark-2 !important;
        }
      }
    }
  }
}

#accordion {
  ul {
    li {
      a.toggle {
        border: 1px solid $bg-dark-1 !important;

        &:hover {
          background-color: $bg-dark-1 !important;
        }
      }
    }
  }
}

// Buttons & UI
.badge,
.btn {
  &-light {
    background: $bg-dark-3 !important;
    color: #fff !important;
  }

  &:hover {
    transform: translateY(-2px) !important;
    box-shadow: none !important;
  }
}

// Forms
input,
textarea {
  background: $bg-dark-3 !important;
  border: none !important;
  color: white !important;
}

.ginput_total {
  box-shadow: none !important;
}

.StripeElement {
  // color: white !important;
  // background-color: $bg-dark-3 !important;
  border: none !important;
}

.gform_button {
  background-color: $primary !important;
}

// Modals
.modal-header {
  border-bottom: 1px solid #000 !important;

  .close {
    span {
      color: white;
    }
  }
}

.modal-content {
  background-color: #111 !important;
  border: none;
}
