$dark-bg-1: #111;
$dark-bg-2: #191c21;
$dark-bg-3: rgba(0, 0, 0, 0.9);

body {
  background: $dark-bg-1 !important;
  color: white !important;
}

header {
  // background: $dark-bg-3 !important;
  background: #191c21 !important;
}

// accordion
.card {
  background: $dark-bg-2;

  .nav-bar {
    background: $dark-bg-2 !important;

    .nav-tabs {
      border-image-source: linear-gradient(45deg, rgb(12, 12, 12), rgb(25, 33, 33)) !important;

      .nav-item {
        background: $dark-bg-2 !important;
        border-radius: 8px;

        .active {
          background-color: $dark-bg-2 !important;
        }
      }
    }
  }
}

#accordion {
  ul {
    li {
      a.toggle {
        border: 1px solid $dark-bg-1 !important;

        &:hover {
          background-color: $dark-bg-1 !important;
        }
      }
    }
  }
}

// Buttons & UI
.badge,
.btn {
  &-light {
    background: $dark-bg-3 !important;
    color: #fff !important;
  }

  &:hover {
    transform: translateY(-2px) !important;
    box-shadow: none !important;
  }
}

// Forms
input,
textarea {
  background: $dark-bg-3 !important;
  border: none !important;
}

#input_1_1,
#input_1_2 {
  border: none !important;
}

.ginput_total {
  box-shadow: none !important;
}

.StripeElement {
  background-color: $dark-bg-3 !important;
  border: none !important;
}

.gform_button {
  background-color: $primary !important;
}

// Modals
.modal-content {
  background-color: #111 !important;
  border: none;
}
