@import "common/bootstrap";
@import "common/global";
@import "common/responsive";
@import "common/shorthand";
@import "common/typography";
@import "common/utilities";

// Uncomment the components you want to use
@import "components/accordion";
@import "components/buttons";
// @import "components/charts";
@import "components/cta";
@import "components/faq";
@import "components/forms";
@import "components/grid";
@import "components/header";
@import "components/modals";
@import "components/sidebar";
@import "components/svg";
@import "components/ui";

/* stylelint-disable */
/* Dark mode */
@media (prefers-color-scheme: dark) {
  @import "dark/main";
  @import "dark/home";
}
/* stylelint-enable */

// Uncomment the pages you want to use
@import "pages/home";
@import "pages/docs";

// Sensei LMS
@import "sensei/courses";
