@font-face {
  font-family: "BebasNeue";
  font-weight: regular;
  src:
    url("../fonts/Bebas/BebasNeueBold.woff2") format("woff2"),
    url("../fonts/Bebas/BebasNeueBold.woff") format("woff");
}

@font-face {
  font-family: "Bebas";
  font-weight: regular;
  src:
    url("../fonts/Bebas/bebas.woff2") format("woff2"),
    url("../fonts/Bebas/bebas.woff") format("woff");
}
