// Hack to prevent horizontal scrolling on body
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.logged-in {
  .fixed-top-sm-up {
    top: 50px;
  }

  #wpadminbar {
    height: 50px;
  }
}

// colors
.primary-gradient {
  background: linear-gradient(375deg, $blue 0%, $green 66%);
  border: none;
}

.dark-gradient {
  background: $dark-gradient;
  background-color: $dark-gradient;
}

.text-dark-gradient {
  color: $dark-gradient;
}
