// Hack to prevent horizontal scrolling on body
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.logged-in {
  .fixed-top-sm-up {
    top: 50px;
  }

  #wpadminbar {
    height: 50px;
  }
}

// Scrollbar
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: $primary;
}

body::-webkit-scrollbar-track {
  background: $gray-600;
}

.scroll-dark::-webkit-scrollbar {
  width: 5px;
}

.scroll-dark::-webkit-scrollbar-thumb {
  background: $primary;
}

.scroll-dark::-webkit-scrollbar-track {
  background: $gray-600;
}

.modal {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
  }

  &::-webkit-scrollbar-track {
    background: $gray-600;
  }

  .scroll-dark::-webkit-scrollbar {
    width: 5px;
  }

  .scroll-dark::-webkit-scrollbar-thumb {
    background: $primary;
  }

  .scroll-dark::-webkit-scrollbar-track {
    background: $gray-600;
  }
}

.error404 {
  @extend .container;
  @extend .d-none;
}

.avatar {
  @extend .rounded-circle;
  @extend .my-2;
}

// Checkout Page
// #navCornerCta {
//   @extend .d-none;
// }

// hidden page titles
.consult-thanks {
  .page-header {
    @extend .d-none;
  }
}

// colors
.primary-gradient {
  background: linear-gradient(375deg, $blue 0%, $green 66%);
  border: none;
}

.dark-gradient {
  background: $dark-gradient;
  background-color: $dark-gradient;
}

.text-dark-gradient {
  color: $dark-gradient;
}

// borders
.border-active {
  border: 1px solid $primary;
}

.border-secondary {
  border: 1px solid $secondary;
}
