.no-hover {
  transition: none !important;

  &:hover {
    color: initial !important;
    border-color: initial !important;
    background-color: initial !important;
  }
}

.clickable {
  cursor: pointer;
}

// Media Query Utilities
///////////////////////////////////////////

// XS
.show-xs {
  @extend .d-block;
  @extend .d-sm-none;
}

.xs-hidden {
  display: none;

  @include media-breakpoint-up(sm) {
    display: initial;
  }
}

.hidden-xs-flex {
  @extend .d-none ;
  @extend .d-sm-flex;
}

//SM
.hidden-sm {
  @extend .d-sm-none;
  @extend .d-md-block;
}

.hidden-sm-flex {
  @extend .d-sm-none;
  @extend .flex;
}

// Breakpoint Up

// @include media-breakpoint-up(sm) { ... }

// Spacing ////////////////////////////////
///////////////////////////////////////////

// Padding 5 LG
.p-5-lg {
  padding: 1rem;

  @include media-breakpoint-up(lg) {
    padding: 3rem;
  }
}

.pt-5-lg {
  padding-top: 1rem;

  @include media-breakpoint-up(lg) {
    padding-top: 3rem;
  }
}

// Padding 5 MD
.p-5-md {
  padding: 3rem;

  @include media-breakpoint-up(md) {
    padding: 1rem;
  }
}

// Padding 4
.p-4-lg {
  padding: 1rem;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem;
  }
}

// Margin 5
.mb-5-lg {
  margin-bottom: 1rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 3rem;
  }
}

// Widths
.w-66-md-up {
  width: inherit;

  @include media-breakpoint-up(md) {
    width: 66%;
  }
}

.w-75-md-up {
  width: inherit;

  @include media-breakpoint-up(md) {
    width: 75%;
  }
}

.w-80-md-up {
  width: inherit;

  @include media-breakpoint-up(md) {
    width: 80%;
  }
}

// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

// Breakpoint Down

@include media-breakpoint-down(sm) {
  // Typography
  .center-sm-down {
    text-align: center;
  }

  // Display
  .mx-auto-sm-down {
    display: block;
    margin: 0 auto;
  }

  .d-none-sm-down {
    display: none;
  }
}

// Medium Screens
/////////////////

@include media-breakpoint-down(md) {
  // Typography
  .center-md-down {
    text-align: center;
  }

  // Display
  .mx-auto-md-down {
    display: block;
    margin: 0 auto;
  }

  .d-none-md-down {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  // Typography
  .center-lg-down {
    text-align: center;
  }

  // Display
  .mx-auto-lg-down {
    display: block;
    margin: 0 auto;
  }

  .d-none-lg-down {
    display: none;
  }
}
// @include media-breakpoint-down(xl) { ... }
